body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: var(--background-main);

  * {
    box-sizing: border-box;
  }
}

html {
  font-size: 10px;
}

main {
  overflow: hidden;
}
