body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: var(--background-main);
  padding-top: 12.4rem;

  * {
    box-sizing: border-box;
  }
}

html {
  font-size: 10px;
}
