.hero__wrapper {
  background-color: var(--background-secondary);
}

.hero {
  display: flex;
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  .hero__text {
    flex-basis: 50%;
  }

  .hero__title {
    font-size: 7.3rem;
    color: var(--color-font-primary);
    margin-top: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .hero__description {
    font-size: 2.4rem;
    color: var(--color-font-secondary);
    margin-bottom: 7rem;
  }

  .hero__images {
    flex-basis: 50%;
    padding-top: 20rem;
    position: relative;
  }

  .hero__main-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  .hero__main-image {
    width: 100%;
    max-width: 72rem;
  }

  .hero__additional-images {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    .additional {
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-color: transparent;
      height: 8.1rem;
      width: 8.1rem;
      bottom: 0;
      left: 0;

      &.additional--2-cars {
        background-image: url(../images/road-sign-2-cars.png);
        left: 10%;
        bottom: 20%;
      }

      &.additional--end-of-main-road {
        background-image: url(../images/road-sign-end-of-main-road.png);
        height: 5.3rem;
        width: 5.3rem;
        left: 95%;
        bottom: 21%;
      }

      &.additional--straight-arrow {
        background-image: url(../images/road-sign-straight-arrow.png);
        height: 10.1rem;
        width: 10.1rem;
        left: 14%;
        bottom: 50%;
      }

      &.additional--round-road {
        background-image: url(../images/road-sign-round-road.png);
        height: 10.1rem;
        width: 10.1rem;
        left: 79%;
        bottom: 37%;
      }

      &.additional--not-allowed {
        background-image: url(../images/road-sign-not-allowed.png);
        height: 6.5rem;
        width: 6.5rem;
        left: 68%;
        bottom: 68%;
      }

      &.additional--no-parking {
        background-image: url(../images/road-sign-no-parking.png);
        height: 6.3rem;
        width: 6.3rem;
        left: -2%;
        bottom: 63%;
      }
    }
  }
}
