.reviewList {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;

  .reviewList__title {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8rem;
  }

  .slick-list {
    /* important, allows overflow slides to be visible */
    overflow: visible;
  }

  .slick-arrow {
    position: absolute;
    top: -11.8rem;
    height: 4.8rem;
    width: 4.8rem;
    background-color: var(--color-font-primary);
    color: var(--background-main);
    appearance: none;
    border-radius: 2.4rem;
    font-size: 0;

    &.slick-disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &::after {
      content: "+";
      font-size: 2.4rem;
      color: inherit;
    }

    &.slick-next {
      right: 0;

      &::after {
        content: ">";
      }
    }

    &.slick-prev {
      right: calc(4.8rem + 1.8rem);

      &::after {
        content: "<";
      }
    }
  }

  .slick-track {
    padding-left: calc((100vh - 159rem) / 2);
  }

  .review {
    background-color: var(--background-main);
    display: flex;
    flex-direction: column;
    border-radius: 3.6rem;
    padding: 5.3rem 7rem;
    width: 100%;
    max-width: 49rem;
    margin-right: 6rem;

    &:last-child {
      margin-right: 0;
    }

    .review__image {
      height: 8.6rem;
      width: 8.6rem;
      margin-bottom: 5.7rem;
    }

    .review__title {
      font-size: 2.4rem;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 1.8rem;
    }

    .review__rating {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
      margin-bottom: 1.3rem;

      .star {
        height: 2.2rem;
        width: 2.2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/star.svg);
      }
    }

    .review__feedback {
      font-size: 2.4rem;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
