:root {
  --max-width: 170rem;
  --max-width-content: 159rem;
  --color-font-primary: black;
  --color-font-secondary: #6c6c6c;
  --color-accent: #f9bc00;
  --border-radius: 1.1rem;
  --background-secondary: #eee;
  --background-main: #fff;
  --padding: 1.5rem;
}

$small: 320px;
$medium: 768px;
$large: 1024px;
$widescreen: 1440px;
